<partial name="_Notification" />
@model Account

<div class="row pt-4">
    <div class="col-6">
        <h1 class="text-primary">Add New Site</h1>
    </div>
</div>

<table class="table table-bordered table-striped" style="width:100%">

    <div class="mb-3">
        <!--Casella Name-->
        <input asp-for="Email" asp-for="idAccount" class="form-control form-control-lg" disabled class="form-control" />      <!--Questo  il campo che serve per aggiungere/modificare il nome. In questo caso viende disabilitato-->
    </div>

</table>

<body>
    <form method="post" asp-controller="Edit" asp-action="AddSitePost">
        <input asp-for="id" hidden/>
        <table>
            <tr>
                
                <td><input class="form-control form-control-lg" type="text" placeholder="Enter the name of the site" id="siteNowStr_id" name="siteNowStr" style="width:350px" /></td>
                <td>
                    &nbsp
                    &nbsp
                    &nbsp
                </td>
                <td>
                    <button class="btn btn-success" style="width:200px">
                        <i class="bi bi-save"></i>
                        Add new site
                    </button>
                </td>
                
            </tr>
            
        </table>
    </form>

    <form method="post" asp-controller="Home" asp-action="LoginActionPost">
        <input asp-for="id" asp-for="Email" asp-for="Pass" hidden />
        <table>
            <tr>
                &nbsp
            </tr>

            <td>
                <button class="btn btn-secondary" style="width:150px">
                    <i class="bi bi-arrow-return-left"></i>
                    Back To Home
                </button>
            </td>
        </table>
    </form>

    
</body>


