@{
    ViewData["Title"] = "Login";
}

@model Login

<partial name="_Notification" />


<form method="post" asp-controller="Home" asp-action="LoginActionPost">
    
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h1 class="text-primary">
                Login
            </h1>

            <hr />
        </div>



        <div class="col-15 text-end">
            <a asp-controller="Edit" asp-action="Create" class="btn brn-primary">
                <i class="bi bi-plus-circle"></i>
                Create New Account
            </a>
        </div>

        <br />


        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>     <!--Fa comparire il messaggio di errore-->
        </div>

        <div class="mb-3">
            <label asp-for="Pass"></label>
            <input asp-for="Pass" class="form-control" />
            <span asp-validation-for="Pass" class="text-danger"></span>
        </div>
        
        
        <button type="submit" class="btn btn-primary" style="width:200px">
            Enter
        </button>

        <!--Camera-->
        <button type="button" class="btn btn-warning" style="width:200px" id="start-camera" onclick="openModelCamera()">
            Camera
        </button>

    </div>
</form>





<html>
<head>
    <title>Model Box Login with Camera</title>
    <script type="text/javascript">
        function openModelCamera() {
            var modal = document.getElementById("modelBoxCamera");
            modal.style.display = "block";
            startCamera();
        }

        function closeModelCamera() {
            var modal = document.getElementById("modelBoxCamera");
            modal.style.display = "none";
            stopCamera();
        }

        function startCamera() {
            var video = document.getElementById("camera-stream");
            navigator.mediaDevices.getUserMedia({ video: true }) // richiede l'autorizzazione all'accesso della fotocamera
                .then(function (stream) { // se l'autorizzazione viene concessa
                    video.srcObject = stream; // imposta lo stream come sorgente del video
                    video.play(); // avvia la riproduzione del video
                })
                .catch(function (error) { // se l'autorizzazione non viene concessa
                    console.log("Unable to access camera: " + error);
                });
        }

        function stopCamera() {
            var video = document.getElementById("camera-stream");
            if (video.srcObject) { // se lo stream è stato impostato come sorgente del video
                var tracks = video.srcObject.getTracks();
                tracks.forEach(function (track) {
                    track.stop(); // interrompe tutti i flussi di dati di cui lo stream è composto  
                });
                video.srcObject = null; // rimuove lo stream come sorgente del video
            }
        }

        
        function takePhoto() {
            let video = document.getElementById("camera-stream");
            let photo = document.getElementById("photo");
            let context = photo.getContext("2d");
            context.drawImage(video, 0, 0, photo.width, photo.height);
            console.log(photo);
            if (photo.width > 0 && photo.height > 0) {
                photo.toBlob(function (blob) {
                    let formData = new FormData();
                    formData.append("photo", blob);
                    let email = document.getElementById("email_id").value; // valorizza la variabile email con il valore dell'input con id "email_id"
                    formData.append("email", email);
                    let xhr = new XMLHttpRequest();
                    xhr.open("POST", "Home/CameraLogin");
                    xhr.onload = function () {
                        CameraLogin(xhr.response);
                    };
                    xhr.send(formData);
                }, "image/jpeg", 0.9);
            }
            closeModelCamera();
        }


    </script>
</head>



<body>

    <div id="modelBoxCamera" class="modal">
        <div class="modal-dialog" role="document">
            <!-- Modal content -->
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Login with Camera</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span onclick="closeModelCamera()">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <video id="camera-stream"></video>
                    <br>
                    <canvas id="photo"></canvas>
                    <input type="file" name="photo" accept="image/*" capture hidden>
                    <input class="form-control form-control-lg" type="text" placeholder="Enter your email" id="email_id" name="email_id" style="width:350px" />

                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close" style="width:150px" onclick="takePhoto()">
                        
                        Take Photo
                    </button>

                </div>

            </div>
        </div>
    </div>

</body>
</html>